*::selection {
  background: #22979b;
  color: #fff;
}

html,
body {
  scroll-behavior: smooth;
}

p {
  margin: 1em auto;
}

.timeline-wrapper {
  top: 3.6rem;
}

h1 + ul,
h1 + ol,
h2 + ul,
h2 + ol,
h3 + ul,
h3 + ol,
h4 + ul,
h4 + ol,
h5 + ul,
h5 + ol,
h6 + ul,
h6 + ol {
  margin: 1em 0;
}

div[class*="language-"] .highlight-lines .highlighted {
  background-color: rgba(34, 151, 155, 0.5) !important;
  color: #fff;
  &:before {
    background-color: rgba(34, 151, 155, 0.5) !important;
  }
}

.comments-wrapper {
  max-width: 1024px !important;
}

.source p {
  margin: 0;
  paddng:0;
}

div[class~="language-txt"]:before{
  content: "txt";
}

div[class~="language-bat"]:before{
  content: "bat";
}

.footer-wrapper > span {
  cursor default
}

.footer-wrapper > span:hover a{
  color #0f4244;
}

.footer-wrapper > span:first-child{
  display: none;
}

.comments-wrapper {
  max-width: 860px !important
}

.home-more:link, .home-blog .home-more:visited {
  text-decoration: none;
}

.home-blog .home-more {
  width: 0;
  height: 0;
  margin: 12rem auto 0;
  display: block;
  position: absolute;
  -webkit-animation: float-in 3s 1s infinite;
  animation: float-in 3s 1s infinite;
}



.home-blog .home-more:after {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 20vh;
  content: "";
  display: block;
  border-right: 3px solid #fff;
  border-top: 3px solid #fff;
  transform: translateX(-50%) rotate(135deg);
}

@keyframes float-in{
  0%{transform:translateY(0)}
  20%{transform:translateY(0)}
  50%{transform:translateY(-30px)}
  75%{transform:translateY(0)}
  to{transform:translateY(0)}
}

.navbar .logo,
.personal-img {
  transition: all .8s ease-out 0s;
}


.navbar .logo:hover,
.personal-img:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

a > i {
  font-size: 16px !important;
}

.title > i {
  font-size: 16px !important;
}

.color-button > i 
  font-size: 1.4rem !important;

.txt-right
  display: none;